/front/.vs
/src/AM4.Partage.Intranet/pub
/src/AM4.Partage.Intranet/AM4.Partage.Intranet.Data/obj
/src/AM4.Partage.Intranet/AM4.Partage.Intranet.Data/bin
/src/AM4.Partage.Intranet/AM4.Partage.Intranet.UI/obj
/src/AM4.Partage.Intranet/AM4.Partage.Intranet.UI/bin
/src/AM4.Partage.Intranet/.vs
