@if (User.IsInRole("Noticias-Admin"))
{
    <a href="@Url.Action("Novo", "Noticias")"><div class="buttoncolor btn-newlink"><i class="fa fa-plus-square" aria-hidden="true"></i>Nova Notícia</div></a>
}
<section class="content-noticias">
    <div class="mobile-filter buttoncolor"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</div>
    <div class="bloco-filter">
        <div class="filters">
            <div class="container">
                <form action="/" method="post" id="frmBuscaNoticias">

                    <div class="row">
                        <div class="col m8 s12">
                            <label for="">&nbsp</label>
                            <input type="text" name="Busca" id="palavrachave" placeholder="Palavra-chave">
                        </div>
                        <div class="col m3 s12">
                            <label for="">Categoria</label>
                            @Html.DropDownList("Categoria", new SelectList(ViewBag.Categorias, "Id", "Nome"), "Selecione")
                        </div>
                        <div class="col m1 s12">
                            <label for="">&nbsp</label>
                            <button type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="divNoticias" style="min-height: 450px;">
    </div>
</section>
@section scripts{
    <script src="~/js/noticias.js"></script>
    <script>
        noticias.init();
    </script>
}