@if (User.IsInRole("Perfis-Admin"))
{
    <a href="@Url.Action("Novo", "Perfis")">
        <div class="buttoncolor btn-newlink">
            <i class="fa fa-plus-square" aria-hidden="true"></i>Novo perfil
        </div>
    </a>
}
<section class="content-linksuteis">
    <div class="filters">
        <div class="container">
            <form action="/" method="post" id="frmBuscaPerfis">
                <div class="row">
                    <div class="col m10 s12">
                        <input type="text" name="Busca" id="palavrachave" placeholder="Palavra-chave">
                    </div>
                    <div class="col m2 s12">

                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="divPerfis" style="min-height: 450px;">
    </div>
</section>
@section scripts
{
    <script src="~/js/perfis.js"></script>
    <script>
        perfis.init();
    </script>
}