@using Intranet.Data.Enums
@if (User.IsInRole("Colaboradores-Admin"))
{
    <a href="@Url.Action("Novo", "Colaboradores")"><div class="buttoncolor btn-newlink"><i class="fa fa-plus-square" aria-hidden="true"></i>Novo colaborador</div></a>
}
<section class="content-colaboradores">
    <div class="mobile-filter buttoncolor"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</div>
    <div class="bloco-filter">
        <div class="filters">
            <div class="container">
                <form action="/" method="post" id="frmBuscaUsuarios">
                    <div class="row">
                        <div class="col m8 s12">
                            <label for="">&nbsp</label>
                            <input type="text" id="palavrachave" name="Busca" placeholder="Palavra-chave">
                        </div>
                        <div class="col m3 s12">
                            <label for="">Ordenar por:</label>
                            @Html.DropDownList("Ordenacao", EnumHelper.GetSelectList(typeof(Ordenacao)), "Selecione")
                        </div>
                        <div class="col m1 s12">
                            <label for="">&nbsp</label>
                            <button>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="divUsuarios" style="min-height: 400px;"></div>
</section>

@section scripts{
    <script src="~/js/usuarios.js"></script>
    <script>
        usuarios.init();
    </script>
}