<!doctype html>
<html lang="pt-BR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Partage</title>
</head>
<body style="margin:0; padding:0;">
    <div style="width:600px; margin:0 auto;">
        <table style="margin:0; padding:0;">
            <tr>
                <td><img src="~/images/mail_topo.jpg" /></td>
            </tr>
            <tr>
                <td height="30">&nbsp;</td>
            </tr>
            <tr>
                <td style="color: #2c2e3b; font-size: 24px; line-height: 36px; text-align: center; font-family: Arial;">Dados de Acesso</td>
            </tr>
            <tr>
                <td style="color: #2c2e3b; font-family: Arial; font-size: 14px; line-height: 26px;">Confira abaixo seus dados de acesso a Intranet do Partage:</td>
            </tr>
            <tr>
                <td style="color: #2c2e3b; font-family: Arial; font-size: 14px;">
                    <a href="~/">Link para acessar a Intranet</a>
                </td>
            </tr>
            <tr>
                <td style="color: #2c2e3b; font-family: Arial; font-size: 14px;">
                    ##usuario##
                </td>
            </tr>
            <tr>
                <td style="color: #2c2e3b; font-family: Arial; font-size: 14px;">
                    ##senha##
                </td>
            </tr>
            <tr>
                <td style="color: #2c2e3b; font-family: Arial; font-size: 14px; line-height: 40px; text-align: center;">
                    ##data##
                </td>
            </tr>
            <tr>
                <td height="30">&nbsp;</td>
            </tr>
            <tr>
                <td><img src="~/images/mail_rodape.jpg" /></td>
            </tr>
        </table>
    </div>
</body>
</html>