@if (User.IsInRole("Albuns-Admin"))
{
    <a href="@Url.Action("Novo", "Albuns")"><div class="buttoncolor btn-newlink"><i class="fa fa-plus-square" aria-hidden="true"></i>Novo Álbum</div></a>
}
<section class="content-noticias">
    <div class="mobile-filter buttoncolor"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</div>
    <div class="bloco-filter">
        <div class="filters">
            <div class="container">
                <form action="/" method="post" id="frmBuscaAlbuns">
                    <div class="row">
                        <div class="col m8 s12">
                            <label for="">&nbsp</label>
                            <input type="text" name="Busca" id="Busca" placeholder="Palavra-chave">
                        </div>
                        <div class="col m3 s12">
                            <label for="">Empreendimento</label>
                            @Html.DropDownList("Empreendimento", new SelectList(ViewBag.Empreendimentos, "Id", "Nome"), "Selecione")
                        </div>
                        <div class="col m1 s12">
                            <label for="">&nbsp</label>
                            <button>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="divAlbuns" style="min-height: 450px;">
    </div>
</section>
@section scripts{
<script src="~/js/albuns.js"></script>
<script>
    albuns.init();
</script>
}
