.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: middle;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-desktop {
  &:before {
    content: '\f108'
  }
}

.fa-users {
  &:before {
    content: '\f0c0'
  }
}

.fa-user {
  &:before {
    content: '\f007'
  }
}

.fa-suitcase {
  &:before {
    content: '\f0f2'
  }
}

.fa-file-image-o {
  &:before {
    content: '\f1c5'
  }
}

.fa-commenting-o {
  &:before {
    content: '\f27b'
  }
}

.fa-newspaper-o {
  &:before {
    content: '\f1ea'
  }
}

.fa-calendar {
  &:before {
    content: '\f073'
  }
}

.fa-comments-o {
  &:before {
    content: '\f0e6'
  }
}

.fa-cog {
  &:before {
    content: '\f013'
  }
}

.fa-home {
  &:before {
    content: '\f015'
  }
}

.fa-angle-down {
  &:before {
    content: '\f107'
  }
}

.fa-arrow-circle-o-right {
  &:before {
    content: '\f18e'
  }
}

.fa-facebook {
  &:before {
    content: '\f09a'
  }
}

.fa-youtube {
  &:before {
    content: '\f167'
  }
}

.fa-flickr {
  &:before {
    content: '\f16e'
  }
}

.fa-twitter {
  &:before {
    content: '\f099'
  }
}

.fa-angle-left {
  &:before {
    content: '\f104'
  }
}

.fa-plus-square {
  &:before {
    content: '\f0fe'
  }
}

.fa-search {
  &:before {
    content: '\f002'
  }
}

.fa-link{
  &:before {
    content: '\f0c1'
  }
}

.fa-map-marker{
  &:before {
    content: '\f041'
  }
}

.fa-venus-mars{
  &:before {
    content: '\f228'
  }
}

.fa-envelope-o{
  &:before {
    content: '\f003'
  }
}

.fa-phone-square{
  &:before {
    content: '\f098'
  }
}

.fa-birthday-cake{
  &:before {
    content: '\f1fd'
  }
}

.fa-pencil-square-o{
  &:before {
    content: '\f044'
  }
}


.fa-trash-o{
  &:before {
    content: '\f014'
  }
}

.fa-file-pdf-o{
  &:before {
    content: '\f1c1'
  }
}

.fa-download{
  &:before {
    content: '\f019'
  }
}
.fa-times{
  &:before {
    content: '\f00d'
  }
}

.fa-floppy-o{
  &:before {
    content: '\f0c7'
  }
}

.fa-paper-plane-o{
  &:before {
    content: '\f1d9'
  }
}

.fa-ban{
  &:before {
    content: '\f05e'
  }
}

.fa-bars{
  &:before {
    content: '\f0c9'
  }
}

.fa-filter{
  &:before {
    content: '\f0b0'
  }
}

































