.content-diretoria{
	.list-diretoria{
		.col {
			&:nth-child(3n+1){
				clear: both;
			}
			@media (max-width: 1200px){
				&:nth-child(3n+1){
					clear: none;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}

		}
		.item{
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			margin-bottom: 20px;
			img{
				width: 100%;
				display: block;
			}
			.info{
				width: 100%;
				padding: 20px;
				background: #fff;
				p.title{
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 14px;
				}
				p.subtit{
					font-size: 14px;
					color: #a7a7a7;
					text-transform: uppercase;
					margin-bottom: 5px;
					line-height: 16px;
				}
			}
		}
	}
}