
.content-falecomrh{
	
	p{
		margin-bottom: 20px;
	}

	.info-interna{
		background: #fff;
		padding: 40px;
		margin-bottom: 40px;
		position: relative;
	}

	.list-fale{
		p.date{
			font-size: 16px;
			color: #a7a7a7;
			margin: 40px 0 20px;
			strong{
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		.item{
			padding: 20px;
			width: 100%;
			background: #fff;
			border-radius: 5px;
			border-left: 7px solid #ed1b36;
			position: relative;
			margin-bottom: 10px;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

			.row{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
			p{
				margin-bottom: 0;
				&.title{
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 5px;
				}
				&.subtit{
					font-size: 14px;
					color: #a7a7a7;
				}
				&.status{
					font-size: 20px;
					text-transform: uppercase;
				}
				&.ticket{
					font-size: 16px;
					color: #ed1b36;
				}
			}
			img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}
			&.finalizado{
				border-left: 7px solid #cfcfcf;
				p.ticket{
					color: #333;
				}
			}
		}
	}

	.list-interacoes{
		.item{
			margin-bottom: 40px;
			position: relative;
			img{
				position: relative;
				z-index: 2;
				border: solid 6px #fff;
				border-radius: 50%;			
			}
			.border{
				border-bottom: solid 1px #f5f5f5;
			}
			&:before {
			    content: '';
			    position: absolute;
			    height: 100%;
			    left: 35px;
			    top: 40px;
			    border-right: dotted 2px #ccc;
			}
			&:last-child{
				&:before{
					display: none;
				}
			}
		}
		p{
			&.title{
				font-size: 18px;
				color: #000;
				font-weight: 700;
				margin-bottom: 5px;
			}
			&.subtit{
				color: #a7a7a7;
				text-transform: uppercase;
			}
			&.date{
				color: #a7a7a7;
				margin-bottom: 10px;
			}
		}
	}
}