// Noticias, Comunicado // 

.content-noticias{
	p{
		margin-bottom: 20px;
	}
	.list-noticias, .list-news{
		.col {
			margin-bottom: 20px;
			&:nth-child(4n+1){
				clear: both;
			}
			@media (max-width: 1200px){
				&:nth-child(3n+1){
					clear: none;
				}
				&:nth-child(2n+1){
					clear: both;
				}
			}

		}
		article{
			width: 100%;
			position: relative;
			box-sizing: border-box;
			background: no-repeat center #fff;
			background-size: cover;
			height: 280px;
			position: relative;
			border-radius: 5px;
			outline: none;
			.edits{
				z-index: 4;
			}
			.category{
				margin-bottom: 0;
			}
			.info{
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				padding: 30px;
				img{
					margin-bottom: 20px;
				}
				p{
					color: #000;
					&.date{
						font-size: 14px;
						margin-bottom: 5px;
					}
					&.title{
						font-size: 24px;
						font-weight: 700;
						margin-bottom: 10px;
						line-height: 30px;
					}
					&.txtcategory{
						color: #a7a7a7;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&.image{
				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0, 0.4);
					top: 0;
					border-radius: 5px;
				}
				p {
					color: #fff;
					&.txtcategory{
						color: #fff;
					}
				}

			}

		}
	}
	.info-interna{
		background: #fff;
		margin-bottom: 40px;
		position: relative;
		img{
			width: calc( 100% + 80px);
			margin: 0 0 40px -40px;
		}
		p{
			&.date{
				font-size: 16px;
				color: #a7a7a7;
			}
			&.title{
				font-size: 30px;
				font-weight: 700;
				line-height: 40px;
			}
		}
	}
	.list-news{
		margin: 0 -10px;
		article{
			margin: 0 10px;
		}
	}
	.category{
		margin-bottom: 40px;
	}

	.anexos{
		.item {
			margin: 0 10px;
		}
	}
	
}