<section>
    <div class="info-interna">
        <form class="formulario-base" action="@Url.Action("AlterarSenha", "MeuPerfil")" method="post">
            <div class="container">
                <div class="row">
                    <div class="col l3 m4 s12">
                        <label for="senha">
                            Senha:
                        </label>
                    </div>
                    <div class="col l9 m8 s12">
                        <input type="password" name="senha" id="senha">
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 m4 s12">
                        <label for="confirmasenha">
                            Confirma Senha:
                        </label>

                    </div>
                    <div class="col l9 m8 s12">
                        <input type="password" name="confirmasenha" id="confirmasenha">
                    </div>
                </div>
                <div class="list-botoes">  
                    <button class="btn-form red" type="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>Salvar
                    </button>
                    <button class="btn-form" type="reset">
                        <i class="fa fa-times" aria-hidden="true"></i>Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>