<section class="content-erro">
    <div class="basecenter">
        <i class="fa fa-ban" aria-hidden="true"></i>
        <div class="info">
            <p><strong>Erro 404</strong></p>
            <p>Página não encontrada</p>
        </div>
    </div>
    <div class="basecenter">
        <div class="txt">
            <p>A página que você procura não existe, faça uma busca ou procure a informação que você deseja no campo abaixo.</p>
        </div>
    </div>

    <div class="boxprocura">
        <div class="container">
            <form action="@Url.Action("Index", "Busca")" method="post">
                <div class="row">
                    <div class="col m4 s12">
                        <p>
                            <strong>O que você procura?</strong>
                        </p>
                        <p>Digite o termo que você deseja.</p>
                    </div>
                    <div class="col m6 s12">
                        <input type="text" name="busca" id="busca" placeholder="Digite o termo">
                    </div>
                    <div class="col m2 s12">
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>