@model Intranet.Data.Entities.Album
@if (User.IsInRole("Albuns-Admin"))
{
    <a href="@Url.Action("NovaFoto", "Albuns", new {id = Model.Id})"><div class="buttoncolor btn-newlink"><i class="fa fa-plus-square" aria-hidden="true"></i>Adicionar Foto</div></a>
}
<section class="content-album" style="min-height: 550px;"></section>
@section scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    <script src="~/js/albumFotos.js"></script>
    <script type="text/javascript">

       albumFotos.init(@Model.Id);

    </script>
}