.content-holding{
	img{
		width: 100%;

	}
	article{
		width: 100%;
		padding: 40px;
		background: #fff;
		h3{
			font-size: 30px;
			font-weight: 700;
			color: #333;
			margin-bottom: 40px;
		}
		p{
			margin-bottom: 20px;
		}
	}
}